.bankTransfer {
  overflow-y: auto;
  &::-webkit-scrollbar {
    display: none;
  }
  > .cardWidget {
    @include flex(row, center, center, 1rem);
    flex-wrap: wrap;
    padding: 2rem;
  }
  .tableContainers {
    margin: 1rem 2rem;
    margin-bottom: 2rem;
    > .tableHeading {
      background-color: $secondaryColor;
      > p {
        color: #fcfcfc;
      }
      > .billHeaders {
        width: 100%;
        // height: 100%;
        // background-color: red;
        // padding: 4rem;
        display: flex;
        color: #fcfcfc;
        align-items: center;
        justify-content: space-between;
        > * {
          font-family: "Gilroy";
          font-weight: 500;
          font-size: 0.9rem;
        }
      }
    }
    > .Table {
      border: 1.5px solid #029e9d;
      > .tableContentBody {
        .billTotal {
          width: 100%;
          display: flex;
          align-items: flex-end;
          justify-content: flex-end;
          flex-direction: column;
          padding: 1rem 4rem;
          > div {
            display: grid;
            grid-template-columns: 1fr 1fr;
            width: 40%;
            place-items: end;
            // gap: 2rem;
          }
        }
      }
      .billTotal {
        width: 100%;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        flex-direction: column;
        padding: 1rem 4rem;
        background-color: #029e9d;
        > div {
          display: grid;
          grid-template-columns: 1fr 1fr;
          width: 100%;
          place-items: end;
          color: #fcfcfc;
          // gap: 2rem;
          > h4:first-child {
            place-self: start;
          }
          &:last-child {
            border-top: 1.5px solid #000;
            margin-top: 1rem;
            > h4 {
              font-size: 1.5rem;
              color: #000;
            }
          }
        }
      }
    }
  }

  > .top_performer {
    border: 2px solid $secondaryColor;
    border-radius: 12px;
    width: 50%;

    > .heading {
      width: 100%;
      background-color: $secondaryColor;
      color: #fff;
      padding: 1rem 2rem;
      font-size: 1.5rem;
      border-radius: 10px;
    }

    > .table-performer {
      width: 100%;
      @include flex(column, center, center);

      > .singlePerformer {
        padding: 0.5rem;
        width: 100%;
        display: grid;
        grid-template-columns: 80% 20%;
        align-items: center;

        > .performer-image {
          @include flex(row, flex-start, center);
          width: 100%;

          > img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
          }
        }

        > .price {
          width: 100%;
          color: $accentColor;
          font-weight: 600;
          font-size: 1.2rem;
        }
      }
    }
  }

  .wallet-transfer {
    margin: 1rem 2.2rem;
    > .heading {
      display: flex;
      width: 100%;
      background-color: $secondaryColor;
      padding: 1rem 2rem;
      align-items: center;
      justify-content: space-between;
      border-radius: 8px;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;

      > p {
        color: #fff;
        font-size: 1.5rem;
      }
      > button {
        @include flex(row, flex-start, center, 0.2rem);
        padding-left: 1rem;
        border-radius: 5px;
        > input {
          @include inputStyles;
          font-size: 1rem;
        }
      }
    }

    > .body {
      width: 100%;
      padding: 1rem 2rem;
      border: 1px solid $secondaryColor;
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
      > h3 {
        font-size: 1.4rem;
        margin-bottom: 1rem;
      }
      > form {
        @include flex(column, flex-start, flex-start, 1rem);
        > div {
          @include grid(1fr 1fr);
          width: 100%;
          > input {
            @include inputStyles;
            border: 1.5px solid #b9b9b9;
            background-color: #fff;
          }
          > div {
            > input {
              margin-top: 0.5rem;
              @include inputStyles;
              border: 1.5px solid #b9b9b9;
              background-color: #fff;
            }
          }
        }

        > .transfer-button {
          display: flex;
          justify-content: flex-end;
          > button {
            padding: 1rem 4rem;
            border-radius: 8px;
            background-color: $primaryColor;
            color: white;
            font-size: 1rem;
          }
        }
      }
    }
  }

  .wallet-pin-container {
    display: flex;

    > .my-wallet {
      padding: 2rem;
      border: 1px solid $secondaryColor;
      border-radius: 1rem;
      width: 45%;
      margin: 32px;

      > .wallet-header {
        display: flex;
        justify-content: space-around;

        > img,
        svg {
          height: 1.5rem;
          width: 2rem;
          margin: 1rem;
        }
      }

      > .wallet-amount {
        text-align: center;
        padding: 2rem;
      }

      > .wallet-buttons {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        > button {
          margin-top: 1rem;
          width: 80%;
        }
      }
    }

    > .top_performer {
      border: 1px solid $secondaryColor;
      border-radius: 12px;
      width: 50%;
      margin: 2rem;

      > .heading {
        width: 100%;
        background-color: $secondaryColor;
        color: #fff;
        padding: 1rem 2rem;
        font-size: 1.5rem;
        border-radius: 10px;
      }

      > .table-performer {
        width: 100%;
        @include flex(column, center, center);

        > .singlePerformer {
          padding: 0.5rem;
          width: 100%;
          display: grid;
          grid-template-columns: 80% 20%;
          align-items: center;

          > .performer-image {
            @include flex(row, flex-start, center);
            width: 100%;

            > img {
              width: 50px;
              height: 50px;
              border-radius: 50%;
            }
          }

          > .price {
            width: 100%;
            color: $accentColor;
            font-weight: 600;
            font-size: 1.2rem;
          }
        }
      }
    }
  }

  .creditcard {
    @include flex(column, center, center, 1rem);
    box-shadow: rgba(0, 0, 0, 0.5) 0 0 0 1px;
    padding: 1rem;
    margin: 2rem;
    // border: 1px solid black;
    border-radius: 10px;
    > .heading {
      width: 100%;
      @include flex(row, space-between, center);
    }
    > .cards {
      width: 100%;
      @include flex(row, space-evenly, center);
      .flip-card {
        background-color: transparent;
        // width: 240px;
        // height: 154px;
        width: 350px;
        height: 200px;
        perspective: 1000px;
        color: white;
      }

      .heading_8264 {
        position: absolute;
        letter-spacing: 0.2em;
        font-size: 0.5em;
        top: 2em;
        left: 18.6em;
      }

      .logo {
        position: absolute;
        top: 6.8em;
        // left: 11.7em;
        left: 18rem;
      }

      .chip {
        position: absolute;
        top: 2.3em;
        left: 1.5em;
      }

      .contactless {
        position: absolute;
        top: 3.5em;
        left: 19em;
      }

      .number {
        position: absolute;
        font-weight: bold;
        font-size: 0.6em;
        top: 8.3em;
        left: 1.6em;
      }

      .valid_thru {
        position: absolute;
        font-weight: bold;
        top: 635.8em;
        font-size: 0.01em;
        left: 140.3em;
      }

      .date_8264 {
        position: absolute;
        font-weight: bold;
        font-size: 0.5em;
        top: 13.6em;
        left: 3.2em;
      }

      .name {
        position: absolute;
        font-weight: bold;
        font-size: 0.5em;
        top: 16.1em;
        left: 2em;
      }

      .strip {
        position: absolute;
        background-color: black;
        width: 21.8em;
        height: 1.5em;
        top: 2.4em;
        background: repeating-linear-gradient(
          45deg,
          #303030,
          #303030 10px,
          #202020 10px,
          #202020 20px
        );
      }

      .mstrip {
        position: absolute;
        background-color: rgb(255, 255, 255);
        width: 8em;
        height: 0.8em;
        top: 5em;
        left: 0.8em;
        border-radius: 2.5px;
      }

      .sstrip {
        position: absolute;
        background-color: rgb(255, 255, 255);
        width: 4.1em;
        height: 0.8em;
        top: 5em;
        left: 10em;
        border-radius: 2.5px;
      }

      .code {
        font-weight: bold;
        text-align: center;
        margin: 0.2em;
        color: black;
      }

      .flip-card-inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 1.5s ease-in-out;
        transform-style: preserve-3d;
      }

      .flip-card:hover .flip-card-inner {
        transform: rotateY(180deg);
      }

      .flip-card-front,
      .flip-card-back {
        box-shadow: 0 8px 14px 0 rgba(0, 0, 0, 0.2);
        position: absolute;

        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        border-radius: 1rem;
      }

      .flip-card-front {
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 2px,
          rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
          rgba(0, 0, 0, 0.2) 0px -1px 0px inset;

        background-color: #003d79;
        // background-color: red;
      }

      .flip-card-back {
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 2px,
          rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
          rgba(0, 0, 0, 0.2) 0px -1px 0px inset;
        background-color: #ac3e2e;
        transform: rotateY(180deg);
      }
    }
  }
}
